
/*Background (Imagen de fondo de la pagina)----------------------------------------------------------------*/
body {
    background-image: url("img/Autos/fondo.jpg");
    background-size: 500rem;
   
    background-repeat: no-repeat;
  }

  body {
    background-color: #84031d;
    background-size: 96rem;
    background-repeat: no-repeat;
  }

  
/*Centrado de productos-------------------------------------------------------------------------------------*/

  #logo-contenedor0 {
    display: flex;
    align-items: center;
    justify-content: center;   
 }
 
 #logo-contenedor1 {
  display: flex;
  align-items: left;
  justify-content: left;
}

/*Mision----------------------------------------------------------------------------------------------------*/
#mision {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mision {
  display: flex;
  align-items: center;
  justify-content: center;
}
 


  /*Barra de navegacion-----------------------------------------------------------------------------------*/
  * {
    padding: 0;
    margin: 0;
  }
  p {
    margin-bottom: 20px;
  }
  .wrapper {
    width: 97%;
    margin: auto;
    overflow:hidden;
  }
  header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  
  nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
  }
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background-color: rgb(101, 33, 165);
  }
  .contenido {
    padding-top: 80px;
  }
  


/*Slider--------------------------------------------------------------------------------------------------*/

.slider{
  width: 50%;
  height: 400px;
  overflow: hidden;
}

.slider {/*centar el slider*/
  display: block;
  margin: auto;
}

.slider ul{
  display: flex;
  animation: cambio 15s infinite
  alternate linear;
  width: 400%;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img{
  width: 100%;
  height: 100%;
}

@keyframes cambio {
  0%{margin-left: 0%;}
  20%{margin-left: 0%;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
  
}


/*botones----------------------------------------------------------------------------------------------------*/
.btn{
  display: block;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  background-color: rgb(186, 38, 12);
  border-radius: 30px;
  padding: 20px 120px;
  color: black;
  text-decoration: none;
}

.btn {/*centar el boton*/
  display: block;
  margin: auto;
}

.btn:hover{
  background-color: transparent;
  border: 2px solid rgb(186, 38, 12);
  color: rgb(0, 0, 0);
}


/*footer----------------------------------------------------------------------------------------------------*/

.pie-pagina{
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}


/*Pagina responsiva------------------------------------------------------------------------------------------------*/

