body{
    
  
    background: url(img/Logos/cars.jpg) no-repeat;
    background-size: 2000px;
 
  
  }
  
  *{box-sizing:border-box;}
  
  /*Argupacion de imagenes de formulario*/
  .contenedor-imagenes {
  display: flex;
  margin: auto;
  }
  
  .contenedor-imagenes  img:first-child{/*separacion de imagenes*/
  margin-right: 190px;
  margin-left: 40px;
  
  }
  
  
  
  /*campos de texto-----------------------------------------------------------------------*/
  
  #content{
   
    text-align: center;
    color: white;
    height: 900px;
    width: 500px;
    
    background-color: rgb(102, 91, 91);
    padding: 8px;
    /*Centar el cuadro*/
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  
  }
  /*estilos de las cajas de texto y letras*/
  form label{
  width:90px;
  font-weight:bold;
  display:inline-block;
  }
  
  /*Cajas de texto redondeadas*/
  form input[type="text"],
  form input[type="number"],
  form input[type="email"],
  form input[type="password"]{
  width:400px;
  padding:3px 10px;
  border:1px solid #f6f6f6;
  border-radius:10px;
  background-color:#f6f6f6;
  margin:5px 0;
  display:inline-block;
  }
  
  
  /*boton de iniciar sesion----------------------------------------------------------------------------------------------------*/
  .btn{
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 100;
    background-color: rgb(249, 249, 249);
    border-radius: 18px;
    padding: 2px 60px;
    color: white;
  
    
  }
  
  .btn {/*centar el boton*/
    display: block;
    margin: auto;
  }
  
  .btn:hover{
    background-color: rgb(154, 154, 157);
    border: 2px solid rgb(255, 255, 255);
    color: white;
  }





  

  .btn2{
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 100;
    background-color: rgb(249, 249, 249);
    border-radius: 35px;
    padding: 2px 60px;
    color: rgb(255, 0, 0);
  
    
  }
  
  .btn2 {/*centar el boton*/
    display: block;
    margin: auto;
  }
  
  .btn2:hover{
    background-color: rgb(255, 55, 0);
    border: 2px solid rgb(215, 204, 204);
    color: rgb(238, 238, 238);
  }







  .btn3{
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 100;
    background-color: rgb(140, 140, 140);
    border-radius: 7px;
    padding: 3px 60px;
    color: white;
  
    
  }
  
  .btn3 {/*centar el boton*/
    display: block;
    margin: auto;
  }
  
  .btn3:hover{
    background-color: rgb(109, 199, 207);
    border: 2px solid rgb(19, 18, 18);
    color: black;
  }
  




  .btn4{
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 100;
    background-color: rgb(255, 55, 0);
    border-radius: 19px;
    padding: 2px 60px;
    color: white;
  
    
  }
  
  .btn4{/*centar el boton*/
    display: block;
    margin: auto;
  }
  
  .btn4:hover{
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(176, 97, 97);
    color: rgb(170, 78, 78);
  }




  
  .btn5{
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 100;
    background-color: rgb(249, 249, 249);
    border-radius: 18px;
    padding: 2px 60px;
    color: white;
  
    
  }
  
  .btn5{/*centar el boton*/
    display: block;
    margin: auto;
  }
  
  .btn5:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(125, 108, 108);
    color: white;
  }