body, html {
  background: url(img/Logos/cliente.jpg) ;
  background-size: 1600px;
}


*{box-sizing:border-box;}

/*Argupacion de imagenes de formulario*/
.contenedor-imagenes {
display: flex;
margin: auto;
}

.contenedor-imagenes  img:first-child{/*separacion de imagenes*/
margin-right: 190px;
margin-left: 40px;

}



/*campos de texto-----------------------------------------------------------------------*/

#content{
 
  text-align: center;
  color: white;
  height: 900px;
  width: 500px;
  
  background-color: #D96E07;
  padding: 8px;
  /*Centar el cuadro*/
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
 

}
/*estilos de las cajas de texto y letras*/
form label{
width:90px;
font-weight:bold;
display:inline-block;
}

/*Cajas de texto redondeadas*/
form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"]{
width:400px;
padding:3px 10px;
border:1px solid #f6f6f6;
border-radius:10px;
background-color:#f6f6f6;
margin:5px 0;
display:inline-block;
}


/*boton de iniciar sesion----------------------------------------------------------------------------------------------------*/
.btn{
  font-family: Arial, Helvetica, sans-serif ;
  font-weight: 100;
  background-color: rgb(249, 249, 249);
  border-radius: 18px;
  padding: 2px 60px;
  color: white;

  
}

.btn {/*centar el boton*/
  display: block;
  margin: auto;
}

.btn:hover{
  background-color: rgb(154, 154, 157);
  border: 2px solid rgb(255, 255, 255);
  color: white;
}



.btn1{
  font-family: Arial, Helvetica, sans-serif ;
  font-weight: 100;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  padding: 2px 60px;
  color: black;
  text-decoration: none;
  
}

.btn1{/*centar el boton*/
  display: block;
  margin: auto;
}

.btn1:hover{
  background-color: rgb(147, 162, 168);
  border: 2px solid rgb(239, 247, 244);
  color: white;
}


.btn2{
  font-family: Arial, Helvetica, sans-serif ;
  font-weight: 100;
  background-color: rgb(154, 154, 157);
  border-radius: 18px;
  padding: 2px 60px;
  color: white;

  
}



.btn2:hover{
  background-color: #ffffff;
  border: 2px solid rgb(255, 255, 255);
  color: white;
}

