/*Pagina responsiva-------------------------------------------------------------*/
*{
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  
  /*Estilos de todos los h1 y letras--------------------------------------------------*/
  h1{ font-size: 3.5em;}
  h2{ font-size: 2.7em;}
  h3{ font-size: 2em;}
  p{ font-size: 1.25em;}
  ul{ list-style: none;}
  li{ font-size: 1.25em;}
  
  /*boton principal--------------------------------------------------------------------*/
  button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
  }
  
  button:hover{
    background-color: rgb(101, 33, 165);
  }
  
  .container{
    max-width: 1400px;
    margin: auto;
  }
  
  .color-acento{ color:blueviolet; }
  
  
  
  
  
  /*  nuestros programas 1-----------------------------------------------------------*/
  
  #nuestros-programas{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
  
  }
  
  #nuestros-programas .container{
    padding: 75px 300px;
  }
  
  
  #nuestros-programas h2{
    margin-top: 500;
    font-size: 3.2em;
  }
  
  #nuestros-programas h3{
    margin-top: 70px;
    font-size: 1.6em;
  }
  
  /*Alinear los textos*/
  #nuestros-programas h4{
    margin-top: 2px;
   
  }
  
  
  /*alineacion de cuadros de coches*/
  #nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 500px;
    margin: 20px;
    border-radius: 15px;
  }







/* nuestros programas  2-----------------------------------------------------------*/
  
#nuestros-programas2{
  background-color: rgb(30,30,30);
  color: white;
  text-align: center;

}

#nuestros-programa2 .container2{
  padding: 75px 300px;
}


#nuestros-programas2 h2{
  margin-top: 500;
  font-size: 3.2em;
}

#nuestros-programas2 h3{
  margin-top: 70px;
  font-size: 1.6em;
}

/*Alinear los textos--------------*/
#nuestros-programas2 h4{
  margin-top: 2px;
 
}


/*alineacion de cuadros de coches-------------*/
#nuestros-programas2 .carta2{
  background-position: center center;
  background-size: cover;
  padding: 50px 500px;
  margin: 20px;
  border-radius: 15px;
}





/*productos 2*/

.carta2:first-child{
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("img/Autos/bmw 4.jpg");

}

.carta2:nth-child(2){
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("img/Autos/audir8.jpg");
}

.carta2:nth-child(3){
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("img/Autos/Ferrari.jpg");

}

.carta2:nth-child(4){
background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
)
,url("img/Autos/amg1.jpg");

}




 /*segunda seccion de nuestros programas 2---------------------------------------------------*/
 #nuestros-programas2 .programas2{
  display: flex;
  justify-content: center;
  
}


#nuestros-programas2 h2{
  font-size: 4em;
  
}

#nuestros-programas2 h3{
  margin-top: 80px;
  font-size: 2.5em;
}


/*campos de texto*/
#nuestros-programas2 h4{
font-size: 1.0em;/*cambiar el tamano de letra*/
height: 50x;
width: 300px; 
}



/*boton de coches-------------*/
#nuestros-programas2 p{
padding: 25px;
}


/*fondo de coches-------------------*/
#nuestros-programas2 .carta2{
  padding: 30px;
  background-size: 100% 150px;
  background-repeat: no-repeat;
  background-position-y: 0;
  background-color: rgba(50, 50, 50, 1);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  
}

    .carta2:first-child{
      background-image: linear-gradient(
          0deg,
          rgba(0,0,0,0.5),
          rgba(0,0,0,0.5)
      )
      ,url("img/Autos/audi.jpg");

  }

  .carta2:nth-child(2){
      background-image: linear-gradient(
          0deg,
          rgba(0,0,0,0.5),
          rgba(0,0,0,0.5)
      )
      ,url("img/Autos/lambo\ svj.png");
  }

  .carta2:nth-child(3){
      background-image: linear-gradient(
          0deg,
          rgba(0,0,0,0.5),
          rgba(0,0,0,0.5)
      )
      ,url("img/Autos/supra.jpeg");

  }

  .carta2:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/Autos/hellcat.jpg");

}














  
  /*carateristicas 2 -----------------------------------------------*/
  
  #caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
  }
  
  #caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
  }
  
  #final{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 110vh;
  }
  
  #final h2{
    font-size: 20vw;
    padding: 70px;
  }
  
  #final button{
    font-size: 5vw;
  }
  
  
  
  
  #final2{
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
    background-color: rgb(101, 33, 165);
    color: wheat;
    height:130vh;
  
  }
  
  #final2 h4{
    font-size: 9vw;
  }
  
  #final2 button{
    font-size: 5vw;
  
  
  }
  
  
  
    #hero h1{
        font-size: 5em;
    }
  
    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;
    }
  
    #somos-proya .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    #somos-proya h2{
        margin-top: 0px;
    }
  
    
  
  /*primera seccion de nuestros programas 1---------------------------------------------------*/
    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
        
    }
  

    #nuestros-programas h2{
        font-size: 4em;
        
    }
  
    #nuestros-programas h3{
        margin-top: 80px;
        font-size: 2.5em;
    }
  
  
  /*campos de texto*/
    #nuestros-programas h4{
      font-size: 1.0em;/*cambiar el tamano de letra*/
      height: 50x;
      width: 300px; 
  }
  
  
  
  /*boton de coches-------------*/
  #nuestros-programas p{
    padding: 25px;
  }
    
  
  /*fondo de coches-------------------*/
    #nuestros-programas .carta{
        padding: 30px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        
    }
  









  

  
  
    /*Imagenes de coches (productos)-----------------------------------------------------------------------------------------*/
    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/Autos/bmw 4.jpg");
  
    }
  
    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/Autos/audir8.jpg");
    }
  
    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/Autos/Ferrari.jpg");
  
    }

    .carta:nth-child(4){
      background-image: linear-gradient(
          0deg,
          rgba(0,0,0,0.5),
          rgba(0,0,0,0.5)
      )
      ,url("img/Autos/amg1.jpg");

  }

  













  
  
    /*BMW azul-------------------------------------------------------------------------*/
    #caracteristicas{
        background-image: url("img/Autos/bmw\ azul.jpg");
        background-repeat: no-repeat;
        background-size: 800px 500px;
        background-position: calc(100vw - 500px) 120px;
    }
  
    #caracteristicas .container{
        text-align: initial;
    }
  
    #caracteristicas ul{
        margin-left: 100px;
    }
  
  
  
  
  
  @media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
  }
  
  
  
  
  /*Barra de navegacion-----------------------------------------------------------------------------------*/
  * {
    padding: 0;
    margin: 0;
  }
  p {
    margin-bottom: 20px;
  }
  .wrapper {
    width: 97%;
    margin: auto;
    overflow:hidden;
  }
  header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  
  nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
  }
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background-color: rgb(101, 33, 165);
  }
  .contenido {
    padding-top: 80px;
  }
  
 



